{% extends "base.html" %}

{% block content %}

    <main>
        
                <div class="tagline">
                    <h4>Simplify Your Shipping Process</h4>
                </div>
                <div class="background-section">
                    <div class="background-overlay"></div>
                    <div class="input-container">
                        <input type="text" id="tracking-code" placeholder="Enter code">
                        <input type="text" id="shipping-details" placeholder="Enter shipping details">
                        <button onclick="handleSearch()">Search</button>
                    </div>
                </div>
                
                
                <div id="search-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3>Not a Member yet?</h3>
                        <p>To track your freight, you need to become a member:</p>
                        <div class="modal-options">
                            <a href="{{ url_for('login')}}" class="modal-button" target="_blank">Login</a>
                            <p>or</p>
                            <a href="{{ url_for('lets_begin')}}" class="modal-button" target="_blank">Become a Member</a>
                        </div>

                        
                    </div>
                </div>
                <section class="core-services">

                    <div class="services-header">
                        <h2>Your Digital Freight Partner</h2>
                        <p>End-to-end logistics solutions powered by technology</p>
                    </div>

                    <div class="services-container">
                        <div class="services-image">
                            <img src="{{ url_for('static', filename='images/container-pull.jpg')}}"/>

                        </div>
                        <div class="services-content">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img/>
                                </div>
                                <div class="service-text">
                                    <h3>Container freight booking</h3>
                                    <p>Seamless online booking of container freight whether it is LCL or FCL with real-time rates for the Artemis registated members across major shipping lines serving Australasia ports</p>
                            
                                </div>

                            </div>
                            
                            <div class="service-item">
                                <div class="service-icon">
                                    <img/>
                                </div>
                                <div class="service-text">
                                    <h3>Digital Customs Clearance</h3>
                                    <p>Automated customs clearance for all Artemis registered and non-registered members who only ar looking for customs clearance services</p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="service-icon">
                                    <img/>
                                </div>
                                <div class="service-text">
                                    <h3>Logistics Software solutions</h3>
                                    <p>At Artemis Freight Forwarding, we understand that small business owners face unique challenges in managing their inventory, shipping, and real-time tracking needs. That’s why we offer custom-built software solutions designed to simplify your logistics operations and provide the control you need to grow your business.</p>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <img/>
                                </div>
                                <div class="service-text">
                                    <h3>Nationwide Trucking Network</h3>
                                    <p>Artemis Freight Forwarding connects your business to a robust network of over 1,000 owner-driver truck operators across New Zealand. Offering nationwide coverage, fast deliveries, and real-time tracking, we ensure your freight reaches its destination efficiently and securely. Trust us to streamline your logistics with professional, reliable, and scalable trucking solutions tailored to your needs.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    
                </section>

        
                
                <h3 class="section-title">From Assembly Line to your Hands</h3>
                <section class="content-section">
                    <div class="column">
                        
                        <h4>
                            From Ship to Rail to Road: Redifining Freight Movement
                        </h4>
                        <p>
                            Artemis Freight Forwarding Limited streamlines logistics across sea, rail, and road, ensuring seamless transitions and real-time tracking at every stage. Our innovative technology connects global trade routes with precision, offering efficient, cost-effective, and transparent solutions. Experience freight movement that’s faster, smarter, and tailored to your business needs.
                        </p>
                    </div>
                    <div class="column">    
                        <h4>
                            Expert Customs Brokerage at Your Service
                        </h4>
                        <p>
                            Navigating global trade compliance is seamless with Artemis Freight Forwearding Limited. Our expert customs brokerage services ensure accurate documentation, swift clearances, and full compliance with regulations. Whether importing or exporting, we simplify complexities, saving you time and reducing costs. Trust us to handle your customs with unmatched expertise.        </p>
                    </div>
                    <div class="column">    
                            <h4>
                            Trucking Redefined: Last Mile, Perfected
                        </h4>
                        <p>
                            Artemis Freight Forwarding Limited delivers excellence in last-mile logistics. Our trucking solutions are optimized for speed, precision, and reliability, ensuring your freight reaches its destination seamlessly. With real-time tracking and efficient route planning, we redefine trucking to meet your business needs, one flawless delivery at a time.
                    
                        </p>
                    </div>    
                </section> 
        </div>   
    
           
           
           
    </main>   

    <script src="{{ url_for('static', filename='js/modal.js')}}"></script>
    
{% endblock %}  

    
</body>
</html>