{% extends "base.html" %}

{% block content %}

    <main>
        
                <div class="tagline">
                    <h4>Simplify Your Shipping Process</h4>
                </div>
                <div class="background-section">
                    <div class="background-overlay"></div>
                    <div class="input-container">
                        <input type="text" id="tracking-code" placeholder="Enter code">
                        <input type="text" id="shipping-details" placeholder="Enter shipping details">
                        <button onclick="handleSearch()">Search</button>
                    </div>
                </div>
                <div id="search-modal" class="modal">
                    <div class="modal-content">

                        
                    </div>
                </div>


        <div class="mission">
            <p>Artemis our mission is the build new zealand's first digital freight forwarder and customs broker that gives you the power to book, locate and find your freight as business owner hassel free and in shortest time period</p>
                
                <h3 class="section-title">From Assembly Line to your Hands</h3>
                <section class="content-section">
                    <div class="column">
                        
                        <h4>
                            From Ship to Rail to Road: Redifining Freight Movement
                        </h4>
                        <p>
                            Artemis Freight Forwarding Limited streamlines logistics across sea, rail, and road, ensuring seamless transitions and real-time tracking at every stage. Our innovative technology connects global trade routes with precision, offering efficient, cost-effective, and transparent solutions. Experience freight movement that’s faster, smarter, and tailored to your business needs.
                        </p>
                    </div>
                    <div class="column">    
                        <h4>
                            Expert Customs Brokerage at Your Service
                        </h4>
                        <p>
                            Navigating global trade compliance is seamless with Artemis Freight Forwearding Limited. Our expert customs brokerage services ensure accurate documentation, swift clearances, and full compliance with regulations. Whether importing or exporting, we simplify complexities, saving you time and reducing costs. Trust us to handle your customs with unmatched expertise.        </p>
                    </div>
                    <div class="column">    
                            <h4>
                            Trucking Redefined: Last Mile, Perfected
                        </h4>
                        <p>
                            Artemis Freight Forwarding Limited delivers excellence in last-mile logistics. Our trucking solutions are optimized for speed, precision, and reliability, ensuring your freight reaches its destination seamlessly. With real-time tracking and efficient route planning, we redefine trucking to meet your business needs, one flawless delivery at a time.
                    
                        </p>
                    </div>    
                </section> 
        </div>   
    
           
           
           
    </main>     
    
{% endblock %}   
    
</body>
</html>