{% extends "base.html" %}


{% block content %}
<div class="lets-begin-container">
    <div class="image-section">
        <img src="{{ url_for('static', filename='images/happy-person.jpg') }}" alt="Welcome to Artemis" class="welcome-image">
    </div>

    <div class="contact">

        <h2 class="begins">Let's Begin</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}    


        <form action="/lets-begin" method="POST">

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text"  id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>    
            <div class="form-group">
                <label for="email">Business Email</label>
                <input type="email" id="email" placeholder="Enter your work email" name="email" required>
            </div>
            <div class="form-group">
                <label for="business_phone">Business Phone</label>
                <input type="tel" id="business_phone" placeholder="Business Phone" name="business_phone" required>
            </div>
            <div class="form-group">

                <label for="services">Services Needed:</label>
                <select id="services" name="services" required>
                    <option value="import">Import</option>
                    <option value="export">Export</option>
                    <option value="trucking">Trucking</option>
                    <option value="warehousing">Warehousing</option>
                </select>
            </div>
            <div class="form-group">

                <label for="message">Message:</label>
                <textarea id="message" name="message" row="5" placeholder="Write your message here for Artemis team..."></textarea>
            </div>
            <div class="form-buttons">

                <button type="submit">Submit</button>
            </div>    



        </form>
    

    </div>


</div>


{% endblock %}